.header{
    text-align: center;
    background-color: rgb(154, 154, 199);
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 200px;
    box-shadow: 5px 5px 5px 5px gray;

    
}
.header1 input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
